@property --bg-start {
	syntax: '<color>';
	inherits: false;
	initial-value: rgba(255, 255, 255, 0);
}

.bentoItemSmall {
	background: linear-gradient(
		90deg,
		transparent, 
		var(--bg-start)
	);
	&:hover{
		--bg-start: var(--color-accent)
	}
}
